@font-face {
    font-family: 'Ogg';
    src: url('fonts/ogg-medium.woff2') format('woff2'),
         url('fonts/ogg-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$ogg: 'Ogg', serif;


@import url("https://use.typekit.net/zxu2pes.css");

$acumin: acumin-pro-wide, sans-serif;