@charset "UTF-8";
/* HTML5 */
@import url("https://use.typekit.net/zxu2pes.css");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1;
}

/* Links */
a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover, a:active {
  outline: none;
}

/* Typography */
abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 600;
}

i, em {
  font-style: italic;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
}

p, pre {
  margin: 1em 0;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* Lists */
dd {
  margin: 0 0 0 40px;
}

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

/* Figure */
figure {
  margin: 0;
}

/* Forms */
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative;
}

/* Border-Box */
* {
  box-sizing: border-box;
}

/* Responsive Image */
img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "Ogg";
  src: url("fonts/ogg-medium.woff2") format("woff2"), url("fonts/ogg-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body,
button,
input,
select,
optgroup,
textarea {
  font-family: acumin-pro-wide, sans-serif;
}

a {
  color: #B88F69;
}

::-moz-selection {
  background: #B88F69;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #B88F69;
  color: #fff;
  text-shadow: none;
}

.hero-title {
  font-family: "Ogg", serif;
  font-size: clamp(2rem, 3.5vw, 3rem);
  line-height: 1.125em;
}
@media screen and (min-width: 992px) {
  .hero-title {
    font-size: clamp(4rem, 8vw, 5rem);
  }
}

.page-title {
  font-family: "Ogg", serif;
  font-size: clamp(3rem, 6vw, 5rem);
  line-height: 1.125em;
  letter-spacing: 0.025em;
}

.section-title {
  font-family: "Ogg", serif;
  font-size: clamp(2.5rem, 4vw, 3.5rem);
  line-height: 1.125em;
  color: #243340;
  letter-spacing: 0.02em;
}
.section-title.gold {
  color: #B88F69;
}

.sub-headline {
  padding-bottom: 0.5rem;
}

.sub-header {
  color: #B88F69;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.sub-header.blue {
  color: #243340;
}
.sub-header.gray-blue {
  color: #75828C;
}

.copy {
  color: #243340;
}
.copy-1 {
  font-size: clamp(1rem, 2vw, 1.75rem);
  line-height: 1.5em;
}
.copy-2 {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  line-height: 1.6em;
}
.copy-3 {
  font-size: clamp(0.8125rem, 1.1vw, 0.9375rem);
  line-height: 1.6em;
}
.copy.extended > * {
  margin-bottom: 2rem;
}
.copy.extended ul {
  list-style-type: disc;
  padding-left: 1.25rem;
}
.copy.extended ul li + li {
  margin-top: 0.5rem;
}

body {
  background: #fff;
}

.site-content {
  overflow-x: hidden;
}

.grid {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: minmax(0, auto) repeat(4, minmax(auto, 1fr)) minmax(0, auto);
}
@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: minmax(0, auto) repeat(8, minmax(auto, 1fr)) minmax(0, auto);
  }
}
@media screen and (min-width: 992px) {
  .grid {
    grid-template-columns: minmax(0, auto) repeat(12, minmax(0, 4.5rem)) minmax(0, auto);
  }
}
.grid > * {
  grid-column: 2/span 4;
}
@media screen and (min-width: 480px) {
  .grid > * {
    grid-column: 2/span 8;
  }
}
@media screen and (min-width: 992px) {
  .grid > * {
    grid-column: 2/span 12;
  }
}

.sub-grid {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
}
@media screen and (min-width: 480px) {
  .sub-grid {
    grid-template-columns: repeat(8, minmax(auto, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .sub-grid {
    grid-template-columns: repeat(12, minmax(0, 4.5rem));
  }
}
.sub-grid > * {
  grid-column: 1/span 4;
}
@media screen and (min-width: 480px) {
  .sub-grid > * {
    grid-column: 1/span 8;
  }
}
@media screen and (min-width: 992px) {
  .sub-grid > * {
    grid-column: 1/span 12;
  }
}

img {
  height: auto;
}

.cta .btn {
  display: inline-block;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid;
  font-family: "Ogg", serif;
  font-size: clamp(0.875rem, 1.2vw, 1.125rem);
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.cta .btn.white {
  color: #fff;
}

.ornament {
  position: absolute;
}

section.hero .info {
  grid-row: 1;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
section.hero .info .headline {
  color: #fff;
  padding-top: 2.5rem;
}
section.hero .info .headline .page-title {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
section.hero .photo {
  grid-row: 1;
  grid-column: 1/-1;
  z-index: 1;
  position: relative;
  max-height: 90vh;
}
section.hero .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.hero .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
section.hero .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 992px) {
  section.hero .photo {
    position: relative;
  }
  section.hero .photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 50%;
  }
  section.hero .photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
section.hero .ornament {
  bottom: -15vh;
  right: -25vw;
  z-index: 25;
  width: 50vw;
  max-width: 40rem;
}
@media screen and (min-width: 992px) {
  section.hero .ornament {
    bottom: -20vh;
    right: -34vw;
  }
}

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}
@media screen and (min-width: 768px) {
  .site-header {
    position: fixed;
  }
}
.site-header .site-logo img {
  width: 100%;
  max-width: 5rem;
  transition: all 0.2s ease-in;
}
@media screen and (min-width: 768px) {
  .site-header .site-logo img {
    max-width: 10rem;
  }
}
.site-header .hamburger {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.site-header .hamburger .nav-trigger {
  width: 35px;
  height: 22px;
  display: flex;
  align-items: center;
}
.site-header .hamburger .nav-trigger .patty {
  width: 35px;
  height: 2px;
  background: #B88F69;
  border-radius: 2px;
  margin-left: auto;
  transition: all 0.2s;
}
.site-header .hamburger .nav-trigger .patty:after, .site-header .hamburger .nav-trigger .patty:before {
  content: "";
  display: block;
  width: 35px;
  height: 2px;
  background: #B88F69;
  position: absolute;
  z-index: 1;
  border-radius: 2px;
  transition: all 0.2s;
}
.site-header .hamburger .nav-trigger .patty:before {
  top: -8px;
}
.site-header .hamburger .nav-trigger .patty:after {
  top: 8px;
}

.site-nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  background: #B88F69;
  box-shadow: -4px 0px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
}
@media screen and (min-width: 480px) {
  .site-nav {
    width: 24rem;
    right: -24rem;
    transition: all 0.2s ease-in-out;
  }
}
.site-nav .nav-wrapper {
  padding: 4rem 1.5rem 3rem 3rem;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}
.site-nav .nav-wrapper::-webkit-scrollbar {
  display: none;
}
.site-nav .close {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  z-index: 10;
  transition: opacity 0.3 ease-in-out;
  font-size: 2rem;
}
.site-nav a {
  color: #fff;
  transition: all 0.2s ease;
}
.site-nav a:hover {
  color: #243340;
}
.site-nav .link + .link {
  padding-top: 2rem;
}
.site-nav .link a {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: clamp(1rem, 1.4vw, 1.25rem);
}

body.nav-overlay-open .site-nav {
  right: 0;
  opacity: 1;
}
body.nav-overlay-open .site-nav .close {
  position: fixed;
  opacity: 1;
}

body:not(.page-template-home) .site-header {
  background: rgba(36, 51, 64, 0.95);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

body.page-template-home .site-header.sticky {
  background: rgba(36, 51, 64, 0.95);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.site-footer {
  background: #243340;
  padding-bottom: 4rem;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .site-footer {
    padding-bottom: 10rem;
  }
}
.site-footer .membership-banner {
  background: #CF9436;
  padding: 1.5rem 0;
  margin-bottom: 4rem;
  grid-column: 1/-1;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .site-footer .membership-banner {
    margin-bottom: 6rem;
  }
}
.site-footer .membership-banner a {
  display: inline-block;
  color: #fff;
  font-size: clamp(0.75rem, 0.9vw, 0.875rem);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding-bottom: 0.5rem;
  background-image: linear-gradient(to right, #fff 40%, rgba(207, 148, 54, 0) 20%);
  background-position: bottom;
  background-size: 5px 2px;
  background-repeat: repeat-x;
}
.site-footer .footer-logo {
  max-width: 4rem;
}
@media screen and (min-width: 768px) {
  .site-footer .footer-nav {
    grid-column: 2/span 4;
  }
}
@media screen and (min-width: 992px) {
  .site-footer .footer-nav {
    grid-column: 2/span 6;
  }
}
.site-footer .footer-links {
  padding: 2rem 0 3rem 0;
}
.site-footer .footer-links .link + .link {
  padding-top: 1rem;
}
.site-footer .footer-links .link a {
  color: #fff;
}
.site-footer .footer-links .link a:hover {
  text-decoration: underline;
}
.site-footer .social-links {
  display: flex;
  align-items: center;
}
.site-footer .social-links .social-link {
  width: 2rem;
  height: 2rem;
}
.site-footer .social-links .social-link + .social-link {
  margin-left: 2rem;
}
.site-footer .social-links .social-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.site-footer .quotes {
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  .site-footer .quotes {
    grid-column: 7/span 3;
  }
}
@media screen and (min-width: 992px) {
  .site-footer .quotes {
    grid-column: 9/span 5;
  }
}
.site-footer .quotes blockquote {
  padding: 0;
  margin: 0;
  color: #CF9436;
  font-family: "Ogg", serif;
  font-size: clamp(1.5rem, 2.75vw, 2.25rem);
  line-height: 1.75em;
}
.site-footer .quotes blockquote:before {
  display: block;
  content: "";
  width: 1.5rem;
  height: 1.25rem;
  background: url(images/icon-quotes-footer.svg) no-repeat 0 0;
  background-size: contain;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .site-footer .quotes blockquote:before {
    position: absolute;
    left: -2rem;
    top: 0;
  }
}
.site-footer .quotes blockquote strong, .site-footer .quotes blockquote b {
  color: #fff;
  font-weight: normal;
}
.site-footer .quotes blockquote p:last-of-type:after {
  content: "”";
}
.site-footer .quotes .source {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.site-footer .quotes .source .sub-header {
  font-weight: normal;
}
.site-footer .quotes .source:before {
  display: block;
  content: "— ";
  color: #75828C;
  margin-right: 0.5rem;
}
.site-footer .quotes .ornament {
  position: absolute;
  top: 0;
  right: -50%;
  z-index: 1;
}
.site-footer .contact-info {
  padding-top: 2rem;
}
.site-footer .contact-info p {
  font-size: clamp(0.75rem, 0.9vw, 0.875rem);
  line-height: 2em;
  color: #fff;
}
.site-footer .contact-info p a {
  color: #7AB5BD;
}
.site-footer .copyright {
  margin-top: 2rem;
  border-top: 1px solid #75828C;
  padding-top: 1rem;
  opacity: 0.5;
}
.site-footer .copyright p {
  color: #75828C;
  font-weight: 400;
  font-size: 0.75rem;
}

body.page-template-membership .site-footer {
  padding-top: 4rem;
}
@media screen and (min-width: 992px) {
  body.page-template-membership .site-footer {
    padding-top: 6rem;
  }
}

body.page-template-home section.home-hero .info {
  grid-row: 1;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
body.page-template-home section.home-hero .photo {
  grid-row: 1;
  grid-column: 1/-1;
  z-index: 1;
  position: relative;
}
body.page-template-home section.home-hero .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-home section.home-hero .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 125%;
}
body.page-template-home section.home-hero .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.home-hero .photo {
    position: relative;
  }
  body.page-template-home section.home-hero .photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 75%;
  }
  body.page-template-home section.home-hero .photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.home-hero .photo {
    position: relative;
    max-height: 90vh;
  }
  body.page-template-home section.home-hero .photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
  }
  body.page-template-home section.home-hero .photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@media screen and (max-height: 600px) {
  body.page-template-home section.home-hero .photo {
    max-height: 100vh;
  }
}
body.page-template-home section.home-hero .headline h1 {
  color: #fff;
}
body.page-template-home section.home-hero .headline h1 strong {
  color: #B88F69;
}
body.page-template-home section.home-hero .copy {
  max-width: 850px;
  margin: 0 auto;
  padding-top: clamp(1rem, 5vh, 2rem);
  padding-bottom: clamp(1rem, 5vh, 2rem);
  color: #fff;
}
body.page-template-home section.home-hero .ornament {
  bottom: -15vh;
  right: -25vw;
  z-index: 25;
  width: 50vw;
  max-width: 40rem;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.home-hero .ornament {
    bottom: -20vh;
    right: -34vw;
  }
}
body.page-template-home section.what-we-do {
  padding: 4rem 0;
  z-index: 15;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.what-we-do {
    padding: 6rem 0 3rem 0;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-home section.what-we-do .info {
    grid-column: 4/span 5;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.what-we-do .info {
    grid-column: 3/span 5;
  }
}
body.page-template-home section.what-we-do .info .copy {
  padding: 2rem 0;
}
body.page-template-home section.what-we-do .info .copy ul {
  list-style-type: disc;
  padding-left: 1.25rem;
  padding-top: 1rem;
  font-size: clamp(1rem, 1vw, 1.125rem);
}
body.page-template-home section.what-we-do .photo {
  padding-top: 3rem;
  max-width: 10rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.what-we-do .photo {
    grid-column: 4/span 5;
    max-width: 16rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.what-we-do .photo {
    padding-top: 0;
    grid-column: 8/span 5;
    max-width: 100%;
  }
}
body.page-template-home section.how-we-do-it {
  background: #FCFCFC;
  padding: 4rem 0;
  z-index: 10;
  margin-top: -4rem;
  margin-bottom: 16vh;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.how-we-do-it {
    margin-top: -8rem;
  }
}
body.page-template-home section.how-we-do-it:before {
  display: block;
  content: "";
  width: 100%;
  height: 20vh;
  -webkit-clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
  background: #FCFCFC;
  position: absolute;
  top: -20vh;
  left: 0;
}
body.page-template-home section.how-we-do-it:after {
  display: block;
  content: "";
  width: 100%;
  height: 20vh;
  -webkit-clip-path: polygon(0 0, 0 50%, 100% 0);
          clip-path: polygon(0 0, 0 50%, 100% 0);
  background: #FCFCFC;
  position: absolute;
  bottom: -20vh;
  left: 0;
}
body.page-template-home section.how-we-do-it > * {
  text-align: center;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.how-we-do-it > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.how-we-do-it > * {
    grid-column: 4/span 8;
  }
}
body.page-template-home section.how-we-do-it .headline {
  padding-bottom: 3rem;
}
body.page-template-home section.how-we-do-it .copy {
  padding: 3rem 0 2rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.how-we-do-it .copy {
    grid-column: 5/span 6;
  }
}
body.page-template-home section.how-we-do-it .copy strong {
  color: #B88F69;
}
body.page-template-home section.how-we-do-it .ornament {
  top: -10vh;
  left: -50vw;
  z-index: 25;
  width: 50vw;
  max-width: 60rem;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.how-we-do-it .ornament {
    top: -16vh;
    left: -44vw;
  }
}
body.page-template-home section.quote {
  padding: 6rem 0;
  align-items: center;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.quote {
    padding: 6rem 0;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-home section.quote .info {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.quote .info {
    grid-row: 1;
    grid-column: 10/span 4;
    z-index: 10;
  }
}
body.page-template-home section.quote .info blockquote {
  padding: 0;
  margin: 0;
  color: #243340;
  font-family: "Ogg", serif;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  line-height: 1.5em;
}
body.page-template-home section.quote .info blockquote:before {
  display: block;
  content: "";
  width: 1.5rem;
  height: 1.25rem;
  background: url(images/icon-quotes.svg) no-repeat 0 0;
  background-size: contain;
  margin-bottom: 0.5rem;
  margin-top: 0.75rem;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.quote .info blockquote:before {
    position: absolute;
    left: -2rem;
    top: 1.5rem;
    margin-top: 0;
  }
}
body.page-template-home section.quote .info blockquote p {
  letter-spacing: 0.035em;
}
body.page-template-home section.quote .info blockquote p strong, body.page-template-home section.quote .info blockquote p b {
  color: #B88F69;
}
body.page-template-home section.quote .info blockquote p:last-of-type:after {
  content: "”";
}
body.page-template-home section.quote .info .source {
  padding-top: 2rem;
  display: flex;
  align-items: center;
}
body.page-template-home section.quote .info .source__info .name {
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  color: #243340;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: clamp(0.875rem, 1.1vw, 1rem);
}
body.page-template-home section.quote .info .source__info .meta {
  color: #7AB5BD;
  font-size: clamp(0.75rem, 0.9vw, 0.875rem);
  line-height: 1.25em;
}
body.page-template-home section.quote .photo {
  padding-top: 3rem;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.quote .photo {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.quote .photo {
    grid-row: 1;
    grid-column: 2/span 7;
    padding-top: 0;
  }
}
body.page-template-home section.quote .photo .caption {
  padding-top: 0.5rem;
}
body.page-template-home section.quote .photo .caption p {
  font-size: 0.75rem;
  color: #75828C;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.quote:nth-child(odd) .info {
    grid-column: 2/span 4;
    transform: translateX(1rem);
  }
}
@media screen and (min-width: 1440px) {
  body.page-template-home section.quote:nth-child(odd) .info {
    transform: translateX(0);
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.quote:nth-child(odd) .photo {
    grid-column: 7/span 7;
  }
}
body.page-template-home section.quote-1 {
  padding-top: 0;
}
body.page-template-home section.quote-1 .section-ornament {
  background: url(images/bg-topo-2-gray.svg) no-repeat 0 0;
  background-size: contain;
  position: absolute;
  top: 10vh;
  right: -10vw;
  z-index: 25;
  width: 80vw;
  height: 80vw;
  max-width: 80rem;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.quote-1 .section-ornament {
    top: 5vh;
    right: -25vw;
    max-width: 40rem;
    width: 50vw;
    height: 50vw;
  }
}
body.page-template-home section.quote-2 {
  background: #7AB5BD;
  color: #fff;
  padding: 8rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.quote-2 {
    padding: 12rem 0;
  }
}
body.page-template-home section.quote-2:before {
  display: block;
  content: "";
  width: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  top: -1px;
  -webkit-clip-path: polygon(0 0, 0 50%, 100% 0);
          clip-path: polygon(0 0, 0 50%, 100% 0);
  height: 10vh;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.quote-2:before {
    height: 20vh;
  }
}
body.page-template-home section.quote-2:after {
  display: block;
  content: "";
  width: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 50%);
          clip-path: polygon(0 100%, 100% 100%, 100% 50%);
  bottom: -1px;
  height: 10vh;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.quote-2:after {
    height: 20vh;
  }
}
body.page-template-home section.quote-2 .info .sub-header {
  color: #fff;
}
body.page-template-home section.quote-2 .info blockquote p {
  color: #fff;
}
body.page-template-home section.quote-2 .info blockquote p strong, body.page-template-home section.quote-2 .info blockquote p b {
  color: #243340;
}
body.page-template-home section.quote-2 .info .source__info .name {
  color: #fff;
}
body.page-template-home section.quote-2 .info .source__info .meta {
  color: #243340;
}
body.page-template-home section.quote-2 .section-ornament {
  background: url(images/bg-topo-blue.svg) no-repeat 0 0;
  background-size: contain;
  position: absolute;
  top: 10vh;
  left: -10vw;
  z-index: 5;
  width: 80vw;
  height: 80vw;
  max-width: 80rem;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.quote-2 .section-ornament {
    top: 25vh;
    left: -25vw;
    max-width: 40rem;
    width: 50vw;
    height: 50vw;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.quote-3 {
    padding-bottom: 8rem;
  }
}
body.page-template-home section.quote-3 .info {
  z-index: 10;
}
body.page-template-home section.quote-3 .section-ornament {
  background: url(images/bg-ornament-orange.svg) no-repeat 0 0;
  background-size: contain;
  position: absolute;
  top: 10vh;
  right: -50vw;
  z-index: 0;
  width: 80vw;
  height: 80vw;
  max-width: 80rem;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.quote-3 .section-ornament {
    top: 20vh;
    right: -34vw;
    max-width: 40rem;
    width: 50vw;
    height: 50vw;
  }
}
body.page-template-home section.quote-3 .photo img {
  position: relative;
  z-index: 50;
}
body.page-template-home section.quote-3 .photo-ornament {
  background: url(images/bg-circles-blue.svg) no-repeat 0 0;
  background-size: contain;
  position: absolute;
  bottom: -5vh;
  left: -20vw;
  z-index: 0;
  width: 40vw;
  height: 40vw;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.quote-3 .photo-ornament {
    bottom: -10vh;
    left: -10vw;
    width: 20vw;
    height: 20vw;
  }
}
body.page-template-home section.blog {
  background: #FCFCFC;
  padding: 6rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.blog {
    padding: 8rem 0;
  }
}
body.page-template-home section.blog .section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.blog .section-header {
    padding-bottom: 5rem;
  }
}
body.page-template-home section.blog .section-header .sub-headline {
  width: 100%;
  text-align: center;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 480px) {
  body.page-template-home section.blog .section-header .sub-headline {
    padding-bottom: 0.5rem;
  }
}
body.page-template-home section.blog .section-header .photo {
  max-width: 6rem;
}
body.page-template-home section.blog .section-header .info {
  padding-left: 2rem;
}
body.page-template-home section.blog .section-header .info .signature {
  padding-top: 0.75rem;
}
@media screen and (min-width: 480px) {
  body.page-template-home section.blog .section-header .info .signature {
    padding-top: 0;
  }
}
body.page-template-home section.blog .section-header .info .name {
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  color: #243340;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: clamp(0.875rem, 1.1vw, 1rem);
}
body.page-template-home section.blog .section-header .info .meta {
  color: #7AB5BD;
  font-size: clamp(0.75rem, 0.9vw, 0.875rem);
}
body.page-template-home section.blog .post-photo {
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.blog .post-photo {
    grid-column: 2/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.blog .post-photo {
    grid-column: 3/span 7;
  }
}
body.page-template-home section.blog .post-photo img {
  position: relative;
  z-index: 10;
}
body.page-template-home section.blog .post-photo .ornament {
  bottom: -5vh;
  left: -20vw;
  z-index: 0;
  width: 50vw;
  max-width: 40rem;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.blog .post-photo .ornament {
    bottom: -15vh;
    left: -10vw;
  }
}
body.page-template-home section.blog .post-info {
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  z-index: 10;
  margin-top: -3rem;
}
@media screen and (min-width: 480px) {
  body.page-template-home section.blog .post-info {
    grid-column: 2/span 8;
    margin-top: -6rem;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-home section.blog .post-info {
    grid-column: 4/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.blog .post-info {
    grid-column: 7/span 6;
    padding: 4rem 3rem;
    margin-top: -10rem;
  }
}
body.page-template-home section.blog .post-info .headline {
  padding-top: 0.5rem;
}
body.page-template-home section.blog .post-info .headline h2 {
  font-family: "Ogg", serif;
  font-size: clamp(1.5rem, 2.75vw, 2.25rem);
  line-height: 1.25em;
}
body.page-template-home section.blog .post-info .headline a {
  color: #CF9436;
}
body.page-template-home section.blog .post-info .headline a:hover {
  text-decoration: underline;
}
body.page-template-home section.blog .post-info .excerpt {
  padding: 1rem 0 2rem 0;
}
body.page-template-home section.blog .post-info .cta .btn {
  color: #CF9436;
}

body.page-template-what-we-believe section.about {
  padding: 4rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-what-we-believe section.about {
    padding: 6rem 0;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-what-we-believe section.about .copy-2 {
    grid-column: 2/span 9;
  }
}
body.page-template-what-we-believe section.hero .info .headline .page-title {
  line-height: 1em;
}
body.page-template-what-we-believe section.hero .info .headline .page-title span {
  display: inline-block;
  padding: 1rem 1.25rem 0.25rem 1rem;
  background: rgba(36, 51, 64, 0.6);
}
body.page-template-what-we-believe section.hero .info .headline .page-title span + br + span {
  padding-top: 0;
  padding-bottom: 1rem;
}
body.page-template-what-we-believe section.manifesto {
  background: #243340;
  padding: 4rem 0;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  body.page-template-what-we-believe section.manifesto {
    padding: 8rem 0;
  }
}
body.page-template-what-we-believe section.manifesto .headline {
  text-align: center;
  padding-bottom: 2rem;
}
@media screen and (min-width: 992px) {
  body.page-template-what-we-believe section.manifesto .headline {
    grid-column: 4/span 8;
  }
}
body.page-template-what-we-believe section.manifesto .section-title {
  color: #fff;
}
body.page-template-what-we-believe section.manifesto .copy {
  color: #fff;
}
@media screen and (min-width: 992px) {
  body.page-template-what-we-believe section.manifesto .copy {
    grid-column: 4/span 8;
  }
}
body.page-template-what-we-believe section.manifesto .copy b, body.page-template-what-we-believe section.manifesto .copy strong {
  font-weight: bold;
  color: #CF9436;
}
body.page-template-what-we-believe section.manifesto .ornament-top {
  bottom: -5vh;
  right: -15vw;
  z-index: 25;
  width: 50vw;
  max-width: 40rem;
}
@media screen and (min-width: 992px) {
  body.page-template-what-we-believe section.manifesto .ornament-top {
    right: -30vw;
  }
}
body.page-template-what-we-believe section.manifesto .ornament-bottom {
  top: 2vh;
  left: -30vw;
  z-index: 0;
  width: 50vw;
  max-width: 40rem;
  opacity: 0.5;
}
@media screen and (min-width: 992px) {
  body.page-template-what-we-believe section.manifesto .ornament-bottom {
    top: 2vh;
    left: -5vw;
    opacity: 0.85;
  }
}
body.page-template-what-we-believe section.values {
  padding: 4rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-what-we-believe section.values {
    padding: 8rem 0;
  }
}
body.page-template-what-we-believe section.values .values-grid {
  display: grid;
  gap: 4rem;
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-what-we-believe section.values .values-grid {
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  body.page-template-what-we-believe section.values .values-grid {
    gap: 2rem 4rem;
  }
}
body.page-template-what-we-believe section.values .value {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 992px) {
  body.page-template-what-we-believe section.values .value {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
body.page-template-what-we-believe section.values .value .info {
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  body.page-template-what-we-believe section.values .value .info {
    padding: 0;
  }
}
body.page-template-what-we-believe section.values .value .headline {
  padding-bottom: 0.5rem;
}
body.page-template-what-we-believe section.values .value .headline h4 {
  color: #B88F69;
  font-family: "Ogg", serif;
  font-size: clamp(1.125rem, 1.4vw, 1.375rem);
  line-height: 1.25em;
  letter-spacing: 0.02em;
}
body.page-template-what-we-believe section.values .credits {
  padding-top: 3rem;
}
body.page-template-what-we-believe section.values .credits p {
  color: #b5b5b5;
  font-style: italic;
}
body.page-template-what-we-believe section.attributes {
  padding: 4rem 0;
  background: #FCFCFC;
}
@media screen and (min-width: 992px) {
  body.page-template-what-we-believe section.attributes {
    padding: 8rem 0;
  }
}
body.page-template-what-we-believe section.attributes .section-header {
  padding-bottom: 1rem;
}
body.page-template-what-we-believe section.attributes .section-header .section-title {
  color: #243340;
}
body.page-template-what-we-believe section.attributes .attributes-grid {
  display: grid;
  gap: 2rem 0;
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-what-we-believe section.attributes .attributes-grid {
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  body.page-template-what-we-believe section.attributes .attributes-grid .attribute {
    padding-top: 4rem;
    padding-right: 2rem;
  }
  body.page-template-what-we-believe section.attributes .attributes-grid .attribute-1, body.page-template-what-we-believe section.attributes .attributes-grid .attribute-2 {
    padding-bottom: 4rem;
  }
  body.page-template-what-we-believe section.attributes .attributes-grid .attribute-2, body.page-template-what-we-believe section.attributes .attributes-grid .attribute-4 {
    padding-left: 4rem;
    border-left: 1px solid #75828C;
  }
  body.page-template-what-we-believe section.attributes .attributes-grid .attribute-3, body.page-template-what-we-believe section.attributes .attributes-grid .attribute-4 {
    padding-bottom: 4rem;
    border-top: 1px solid #75828C;
  }
}
body.page-template-what-we-believe section.attributes .attributes-grid .sub-headline .sub-header:first-letter {
  font-size: 1.5em;
}
body.page-template-what-we-believe section.attributes .attributes-grid .copy {
  max-width: 30rem;
}

body.page-template-method section.about {
  padding: 4rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-method section.about {
    padding: 6rem 0 8rem 0;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-method section.about .copy-2,
body.page-template-method section.about .cta {
    grid-column: 3/span 8;
  }
}
body.page-template-method section.about .levels {
  display: grid;
  gap: 8rem;
}
@media screen and (min-width: 768px) {
  body.page-template-method section.about .levels {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2rem;
  }
}
body.page-template-method section.about .levels .copy {
  padding-top: 1rem;
  max-width: 30rem;
  text-align: center;
  font-style: italic;
}
body.page-template-method section.about .copy.bottom {
  padding-top: 4rem;
}
@media screen and (min-width: 768px) {
  body.page-template-method section.about .copy.bottom {
    padding-top: 8rem;
  }
}
body.page-template-method section.about .cta {
  padding-top: 2rem;
}

body.page-template-about section.staff {
  padding: 4rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-about section.staff {
    padding: 6rem 0 6rem 0;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-about section.staff .photo {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-about section.staff .photo {
    grid-column: 2/span 6;
  }
}
body.page-template-about section.staff .info {
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-about section.staff .info {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-about section.staff .info {
    padding-top: 0;
    grid-column: 9/span 4;
  }
}
body.page-template-about section.staff .copy {
  padding: 2rem 0 0 0;
}
body.page-template-about section.ceo {
  background: #243340;
  padding: 4rem 0;
  align-items: center;
}
@media screen and (min-width: 992px) {
  body.page-template-about section.ceo {
    padding: 8rem 0;
  }
}
body.page-template-about section.ceo .info {
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-about section.ceo .info {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-about section.ceo .info {
    grid-row: 1;
    padding-top: 0;
    grid-column: 2/span 6;
  }
}
body.page-template-about section.ceo .info .section-title {
  color: #B88F69;
}
body.page-template-about section.ceo .info .copy {
  color: #fff;
}
body.page-template-about section.ceo .photo {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  body.page-template-about section.ceo .photo {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-about section.ceo .photo {
    grid-row: 1;
    grid-column: 9/span 4;
  }
}
body.page-template-about section.ceo .copy {
  padding: 2rem 0 0 0;
}
body.page-template-about section.history {
  padding: 4rem 0 2rem 0;
  background: #FCFCFC;
}
@media screen and (min-width: 992px) {
  body.page-template-about section.history {
    padding: 6rem 0 4rem 0;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-about section.history > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-about section.history > * {
    grid-column: 4/span 8;
  }
}
body.page-template-about section.history .headline {
  text-align: center;
  padding-bottom: 2rem;
}

body.page-template-faqs section.faqs {
  padding: 4rem 0;
  background: #FCFCFC;
}
@media screen and (min-width: 992px) {
  body.page-template-faqs section.faqs {
    padding: 6rem 0 6rem 0;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-faqs section.faqs .faq {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-faqs section.faqs .faq {
    grid-column: 4/span 8;
  }
}
body.page-template-faqs section.faqs .faq + .faq {
  margin-top: 4rem;
}
body.page-template-faqs section.faqs .question {
  border: 1px solid #CF9436;
  padding: 1rem 2rem;
  transition: all 0.2s ease;
}
body.page-template-faqs section.faqs .question .section-title {
  font-family: acumin-pro-wide, sans-serif;
  font-size: clamp(1.125rem, 1.5vw, 1.375rem);
  line-height: 1.5em;
}
body.page-template-faqs section.faqs .question:hover {
  cursor: pointer;
  background: #CF9436;
}
body.page-template-faqs section.faqs .question:hover .section-title {
  color: #fff;
}
body.page-template-faqs section.faqs .answer {
  transition: all 0.2s ease;
  background: #fff;
  height: 0;
  overflow: hidden;
}
body.page-template-faqs section.faqs .answer > * {
  transition: all 1s ease;
  opacity: 0;
}
body.page-template-faqs section.faqs .faq.active .question {
  background: #CF9436;
}
body.page-template-faqs section.faqs .faq.active .question .section-title {
  color: #fff;
}
body.page-template-faqs section.faqs .faq.active .answer {
  height: auto;
  margin-top: 1rem;
  padding: 2rem 2rem 0 2rem;
  border-radius: 4px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
}
body.page-template-faqs section.faqs .faq.active .answer > * {
  opacity: 1;
}

body.blog section.blog {
  background: #FCFCFC;
  padding: 6rem 0;
}
@media screen and (min-width: 992px) {
  body.blog section.blog {
    padding: 8rem 0;
  }
}
body.blog section.blog .section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  body.blog section.blog .section-header {
    padding-bottom: 5rem;
  }
}
body.blog section.blog .section-header .sub-headline {
  width: 100%;
  text-align: center;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 480px) {
  body.blog section.blog .section-header .sub-headline {
    padding-bottom: 0.5rem;
  }
}
body.blog section.blog .section-header .photo {
  max-width: 6rem;
}
body.blog section.blog .section-header .info {
  padding-left: 2rem;
}
body.blog section.blog .section-header .info .signature {
  padding-top: 0.75rem;
}
@media screen and (min-width: 480px) {
  body.blog section.blog .section-header .info .signature {
    padding-top: 0;
  }
}
body.blog section.blog .section-header .info .name {
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  color: #243340;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: clamp(0.875rem, 1.1vw, 1rem);
}
body.blog section.blog .section-header .info .meta {
  color: #7AB5BD;
  font-size: clamp(0.75rem, 0.9vw, 0.875rem);
}
body.blog section.blog .post-photo {
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  body.blog section.blog .post-photo {
    grid-column: 2/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.blog section.blog .post-photo {
    grid-column: 3/span 7;
  }
}
body.blog section.blog .post-photo img {
  position: relative;
  z-index: 10;
}
body.blog section.blog .post-photo .ornament {
  bottom: -5vh;
  left: -20vw;
  z-index: 0;
  width: 50vw;
  max-width: 40rem;
}
@media screen and (min-width: 992px) {
  body.blog section.blog .post-photo .ornament {
    bottom: -15vh;
    left: -10vw;
  }
}
body.blog section.blog .post-info {
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  z-index: 10;
  margin-top: -3rem;
}
@media screen and (min-width: 480px) {
  body.blog section.blog .post-info {
    grid-column: 2/span 8;
    margin-top: -6rem;
  }
}
@media screen and (min-width: 768px) {
  body.blog section.blog .post-info {
    grid-column: 4/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.blog section.blog .post-info {
    grid-column: 7/span 6;
    padding: 4rem 3rem;
    margin-top: -10rem;
  }
}
body.blog section.blog .post-info .headline {
  padding-top: 0.5rem;
}
body.blog section.blog .post-info .headline h2 {
  font-family: "Ogg", serif;
  font-size: clamp(1.5rem, 2.75vw, 2.25rem);
  line-height: 1.25em;
}
body.blog section.blog .post-info .headline a {
  color: #CF9436;
}
body.blog section.blog .post-info .headline a:hover {
  text-decoration: underline;
}
body.blog section.blog .post-info .excerpt {
  padding: 1rem 0 2rem 0;
}
body.blog section.blog .post-info .cta .btn {
  color: #CF9436;
}
body.blog section.blog-index-header {
  padding: 8rem 0 4rem 0;
}
@media screen and (min-width: 992px) {
  body.blog section.blog-index-header {
    padding: 12rem 0 4rem 0;
  }
}
body.blog section.blog-index-header .signature img {
  mix-blend-mode: multiply;
}
body.blog .posts {
  padding-bottom: 8rem;
  background: #FCFCFC;
}
@media screen and (min-width: 768px) {
  body.blog .posts {
    padding-bottom: 12rem;
  }
}
body.blog .posts article {
  display: grid;
  align-items: start;
}
@media screen and (min-width: 768px) {
  body.blog .posts article {
    grid-column: 2/span 8;
    grid-template-columns: 2fr 3fr;
  }
}
@media screen and (min-width: 992px) {
  body.blog .posts article {
    grid-column: 3/span 10;
    grid-template-columns: 1fr 2fr;
  }
}
body.blog .posts article + article {
  margin-top: 6rem;
}
body.blog .posts article .photo {
  position: relative;
}
body.blog .posts article .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
body.blog .posts article .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.blog .posts article .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.blog .posts article .info {
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  z-index: 10;
}
@media screen and (min-width: 768px) {
  body.blog .posts article .info {
    transform: translate3d(-1rem, 2rem, 0);
  }
}
@media screen and (min-width: 992px) {
  body.blog .posts article .info {
    transform: translate3d(-2rem, 4rem, 0);
  }
}
body.blog .posts article .info .headline {
  padding-top: 0.5rem;
}
body.blog .posts article .info .headline h2 {
  font-family: "Ogg", serif;
  font-size: 1.5rem;
  line-height: 1.25em;
}
body.blog .posts article .info .headline a {
  color: #CF9436;
}
body.blog .posts article .info .headline a:hover {
  text-decoration: underline;
}
body.blog .posts article .info .excerpt {
  padding: 1rem 0 2rem 0;
}
body.blog .posts article .info .cta .btn {
  color: #CF9436;
}

body.single-post section.blog {
  background: #FCFCFC;
  padding: 6rem 0;
}
@media screen and (min-width: 992px) {
  body.single-post section.blog {
    padding: 8rem 0;
  }
}
body.single-post section.blog .section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  body.single-post section.blog .section-header {
    padding-bottom: 5rem;
  }
}
body.single-post section.blog .section-header .sub-headline {
  width: 100%;
  text-align: center;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 480px) {
  body.single-post section.blog .section-header .sub-headline {
    padding-bottom: 0.5rem;
  }
}
body.single-post section.blog .section-header .photo {
  max-width: 6rem;
}
body.single-post section.blog .section-header .info {
  padding-left: 2rem;
}
body.single-post section.blog .section-header .info .signature {
  padding-top: 0.75rem;
}
@media screen and (min-width: 480px) {
  body.single-post section.blog .section-header .info .signature {
    padding-top: 0;
  }
}
body.single-post section.blog .section-header .info .name {
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  color: #243340;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: clamp(0.875rem, 1.1vw, 1rem);
}
body.single-post section.blog .section-header .info .meta {
  color: #7AB5BD;
  font-size: clamp(0.75rem, 0.9vw, 0.875rem);
}
body.single-post section.blog .post-photo {
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  body.single-post section.blog .post-photo {
    grid-column: 2/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.single-post section.blog .post-photo {
    grid-column: 3/span 7;
  }
}
body.single-post section.blog .post-photo img {
  position: relative;
  z-index: 10;
}
body.single-post section.blog .post-photo .ornament {
  bottom: -5vh;
  left: -20vw;
  z-index: 0;
  width: 50vw;
  max-width: 40rem;
}
@media screen and (min-width: 992px) {
  body.single-post section.blog .post-photo .ornament {
    bottom: -15vh;
    left: -10vw;
  }
}
body.single-post section.blog .post-info {
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  z-index: 10;
  margin-top: -3rem;
}
@media screen and (min-width: 480px) {
  body.single-post section.blog .post-info {
    grid-column: 2/span 8;
    margin-top: -6rem;
  }
}
@media screen and (min-width: 768px) {
  body.single-post section.blog .post-info {
    grid-column: 4/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.single-post section.blog .post-info {
    grid-column: 7/span 6;
    padding: 4rem 3rem;
    margin-top: -10rem;
  }
}
body.single-post section.blog .post-info .headline {
  padding-top: 0.5rem;
}
body.single-post section.blog .post-info .headline h2 {
  font-family: "Ogg", serif;
  font-size: clamp(1.5rem, 2.75vw, 2.25rem);
  line-height: 1.25em;
}
body.single-post section.blog .post-info .headline a {
  color: #CF9436;
}
body.single-post section.blog .post-info .headline a:hover {
  text-decoration: underline;
}
body.single-post section.blog .post-info .excerpt {
  padding: 1rem 0 2rem 0;
}
body.single-post section.blog .post-info .cta .btn {
  color: #CF9436;
}
body.single-post section.blog-index-header {
  padding: 8rem 0 4rem 0;
}
@media screen and (min-width: 992px) {
  body.single-post section.blog-index-header {
    padding: 12rem 0 4rem 0;
  }
}
body.single-post section.blog-index-header .signature img {
  mix-blend-mode: multiply;
}
body.single-post section.blog-index-header {
  padding-bottom: 0;
}
body.single-post article.post {
  background: #FCFCFC;
  padding: 0 0 8rem 0;
}
@media screen and (min-width: 768px) {
  body.single-post article.post .article-header,
body.single-post article.post .article-body {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.single-post article.post .article-header,
body.single-post article.post .article-body {
    grid-column: 4/span 8;
  }
}
body.single-post article.post .article-header .featured-photo {
  position: relative;
}
body.single-post article.post .article-header .featured-photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
body.single-post article.post .article-header .featured-photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.single-post article.post .article-header .featured-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.single-post article.post .article-header .featured-photo img {
  border-radius: 2px;
}
body.single-post article.post .article-header .date {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}
body.single-post article.post .article-header .date .sub-header {
  color: #B88F69;
}
body.single-post article.post .article-body b, body.single-post article.post .article-body strong {
  font-weight: 900;
}
body.single-post article.post .article-body blockquote {
  border-left: 4px solid #243340;
  margin-left: 0;
  padding-left: 2rem;
}

body.page-template-membership section.info {
  padding: 4rem 0;
  align-items: center;
}
@media screen and (min-width: 992px) {
  body.page-template-membership section.info {
    padding: 6rem 0;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-membership section.info > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-membership section.info > * {
    grid-column: 4/span 8;
  }
}
body.page-template-membership section.info .headline {
  padding-bottom: 2rem;
}
body.page-template-membership section.info .membership-form {
  background: #f5f5f5;
  padding: 2rem;
  display: none;
  margin-top: 2rem;
}
body.page-template-membership section.info .membership-form.active {
  display: block;
}
body.page-template-membership section.info div.wpforms-container-full .wpforms-form .wpforms-required-label {
  color: #CF9436;
}
body.page-template-membership section.referrals {
  padding-bottom: 6rem;
}
body.page-template-membership section.referrals .info {
  background: #7AB5BD;
  padding: 2rem;
  color: #fff;
  border-radius: 3px;
}
@media screen and (min-width: 768px) {
  body.page-template-membership section.referrals .info {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-membership section.referrals .info {
    grid-column: 4/span 8;
  }
}
body.page-template-membership section.referrals .info .headline {
  padding-bottom: 1rem;
}
body.page-template-membership section.referrals .info .headline h3 {
  font-weight: 900;
  font-size: clamp(1.25rem, 1.5vw, 1.5rem);
}
body.page-template-membership section.referrals .info .copy {
  color: #fff;
}
body.page-template-membership section.referrals .info .referral-form {
  border-top: 1px solid #fff;
  padding-top: 2rem;
  margin-top: 2rem;
  display: none;
}
body.page-template-membership section.referrals .info .referral-form.active {
  display: block;
}
body.page-template-membership section.referrals .info div.wpforms-container-full .wpforms-form .wpforms-required-label {
  color: #fff;
}
body.page-template-membership .membership-form input,
body.page-template-membership .referral-form input {
  border: none;
}
body.page-template-membership .membership-form label,
body.page-template-membership .referral-form label {
  font-weight: 400;
  font-size: 0.875rem;
}
body.page-template-membership .membership-form label.wpforms-field-sublabel,
body.page-template-membership .referral-form label.wpforms-field-sublabel {
  font-weight: 300;
  font-size: 0.75rem;
}
body.page-template-membership .membership-form div.wpforms-container-full .wpforms-form .wpforms-field-label,
body.page-template-membership .referral-form div.wpforms-container-full .wpforms-form .wpforms-field-label {
  font-weight: 400;
  font-size: 0.875rem;
}
body.page-template-membership .membership-form div.wpforms-container-full .wpforms-form textarea.wpforms-field-large,
body.page-template-membership .referral-form div.wpforms-container-full .wpforms-form textarea.wpforms-field-large {
  height: 180px;
}
body.page-template-membership .membership-form .wpforms-field-radio ul,
body.page-template-membership .referral-form .wpforms-field-radio ul {
  padding-top: 0.5rem !important;
  padding-bottom: 1rem !important;
  display: grid;
  gap: 1rem 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-membership .membership-form .wpforms-field-radio ul,
body.page-template-membership .referral-form .wpforms-field-radio ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
body.page-template-membership .membership-form .wpforms-field-radio ul li,
body.page-template-membership .referral-form .wpforms-field-radio ul li {
  display: flex;
}
body.page-template-membership .membership-form .wpforms-field-radio ul li input[type=radio],
body.page-template-membership .referral-form .wpforms-field-radio ul li input[type=radio] {
  min-width: 1rem;
}
body.page-template-membership .membership-form .wpforms-field-radio ul label,
body.page-template-membership .referral-form .wpforms-field-radio ul label {
  font-weight: 300;
  font-size: 0.8125rem;
}
body.page-template-membership .membership-form .wpforms-form button[type=submit],
body.page-template-membership .membership-form div.wpforms-container-full .wpforms-form button[type=submit]:hover,
body.page-template-membership .referral-form .wpforms-form button[type=submit],
body.page-template-membership .referral-form div.wpforms-container-full .wpforms-form button[type=submit]:hover {
  border: none;
  background: #243340;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: inline-block;
  padding: 0.75rem 2rem;
  border-radius: 3px;
}
body.page-template-membership .membership-form div.wpforms-container-full .wpforms-form label.wpforms-error,
body.page-template-membership .referral-form div.wpforms-container-full .wpforms-form label.wpforms-error {
  margin-top: 0.5rem;
  color: #fff;
  display: inline-block;
  background: #B88F69;
  padding: 0.5rem;
  border-radius: 4px;
  text-transform: none;
  letter-spacing: 0;
}
body.page-template-membership .membership-form div.wpforms-container-full,
body.page-template-membership .referral-form div.wpforms-container-full {
  margin-bottom: 0;
}
body.page-template-membership .membership-form .wpforms-confirmation-container-full,
body.page-template-membership .referral-form .wpforms-confirmation-container-full {
  color: #fff;
  display: inline-block;
  background: #B88F69;
  padding: 1rem;
  border-radius: 4px;
  border: none;
  font-size: 0.875rem;
  margin: 0;
}