.site-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;

    @include tablet {
        position: fixed;   
    }

    @import 'logo';

    @import 'hamburger';
}

@import 'navigation';


body:not(.page-template-home) {
    .site-header {
        background: rgba(36, 51, 64, 0.95);
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    }
}

body.page-template-home {
    .site-header.sticky {
        background: rgba(36, 51, 64, 0.95);
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    }
}