.contact-info {
    padding-top: 2rem;

    p {
        font-size: clamp(0.75rem, 0.9vw, 0.875rem);
        line-height: 2em;
        color: $white;

        a {
            color: $light-blue;
        }
    }
}