.copyright {
    margin-top: 2rem;
    border-top: 1px solid $gray-blue;
    padding-top: 1rem;
    opacity: 0.5;

    p {
        color: $gray-blue;
        font-weight: 400;
        font-size: 0.75rem;
    }
}