.membership-banner {
    background: $bright-gold;
    padding: 1.5rem 0;
    margin-bottom: 4rem;
    grid-column: 1 / -1;
    text-align: center;

    @include desktop-small {
        margin-bottom: 6rem;
    }

    a {
        display: inline-block;
        color: $white;
        font-size: clamp(0.75rem, 0.9vw, 0.875rem);
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.1em;
        padding-bottom: 0.5rem;
        background-image: linear-gradient(to right, $white 40%, rgba(207, 148, 54, 0) 20%);
        background-position: bottom;
        background-size: 5px 2px;
        background-repeat: repeat-x;
    }
}