section.blog-index-header {
    padding: 8rem 0 4rem 0;

    @include desktop-small {
        padding: 12rem 0 4rem 0;
    }

    .signature {
        img {
            mix-blend-mode: multiply
        }
    }
}