.posts {
    padding-bottom: 8rem;
    background: $off-white;

    @include tablet {
        padding-bottom: 12rem;
    }


    article {
        display: grid;
        align-items: start;

        @include tablet {
            grid-column: 2 / span 8;
            grid-template-columns: 2fr 3fr;

        }

        @include desktop-small {
            grid-column: 3 / span 10;
            grid-template-columns: 1fr 2fr;
        }

        & + article {
            margin-top: 6rem;
        }
         
        .photo {
            @include aspect-ratio(4, 3);
            @include cover-fill-image;
        }
    
        .info {
            padding: 2rem;
            background: $white;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
            z-index: 10;

            @include tablet {
                transform: translate3d(-1rem, 2rem, 0);
            }

            @include desktop-small {
                transform: translate3d(-2rem, 4rem, 0);

            }
            
            .headline {
                padding-top: 0.5rem;
    
                h2 {
                    font-family: $ogg;
                    font-size: 1.5rem;
                    line-height: 1.25em;
                }
    
                a {
                    color: $bright-gold;
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
    
            .excerpt {
                padding: 1rem 0 2rem 0;
            }
    
            .cta {
                .btn {
                    color: $bright-gold;
                }
            }
        }

    }


}