section.ceo {
    background: $blue;
    padding: 4rem 0;
    align-items: center;

    @include desktop-small {
        padding: 8rem 0;
    }

    .info {
        padding-top: 2rem;

        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-row: 1;
            padding-top: 0;
            grid-column: 2 / span 6;
        }

        .section-title {
            color: $gold;
        }

        .copy {
            color: $white;
        }
    }

    .photo {
        display: flex;
        justify-content: center;
        
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-row: 1;
            grid-column: 9 / span 4;
        }


    }

    .copy {
        padding: 2rem 0 0 0;
    }
}