.copy {
	color: $blue;

	&-1 {
		font-size: clamp(1rem, 2vw, 1.75rem);
		line-height: 1.5em;
	}

	&-2 {
		font-size: clamp(1rem, 1.5vw, 1.25rem);
		line-height: 1.6em;
	}

	&-3 {
		font-size: clamp(0.8125rem, 1.1vw, 0.9375rem);
		line-height: 1.6em;
	}

	&.extended {
		& > * {
			margin-bottom: 2rem;
		}

		ul {
			list-style-type: disc;
			padding-left: 1.25rem;

			li {
				& + li {
					margin-top: 0.5rem;
				}
			}
		}
	}

}