section.about {
    padding: 4rem 0;

    @include desktop-small {
        padding: 6rem 0;
    }

    .copy-2 {
        @include desktop-small {
            grid-column: 2 / span 9;
        }
    }
}

section.hero .info .headline .page-title {
    line-height: 1em;

    span {
        display: inline-block;
        padding: 1rem 1.25rem 0.25rem 1rem;
        background: rgba(36, 51, 64, 0.6);

        & + br + span {
            padding-top: 0;
            padding-bottom: 1rem;
        }
    }
}