section.attributes {
    padding: 4rem 0;
    background: $off-white;

    @include desktop-small {
        padding: 8rem 0;
    }

    .section-header {
        padding-bottom: 1rem;

        .section-title {
            color: $blue;
        }
    }
    
    .attributes-grid {
        display: grid;
        gap: 2rem 0;
        padding-top: 2rem;

        @include tablet {
            gap: 0;
            grid-template-columns: repeat(2, 1fr);
        }

        .attribute {
            @include tablet {
                padding-top: 4rem;
                padding-right: 2rem;

                &-1,
                &-2 {
                    padding-bottom: 4rem;
                }
                &-2,
                &-4 {
                    padding-left: 4rem;
                    border-left: 1px solid $gray-blue;
                }

                &-3,
                &-4 {
                    padding-bottom: 4rem;
                    border-top: 1px solid $gray-blue;
                }
            }
        }

        .sub-headline {
            .sub-header {
                &:first-letter {
                    font-size: 1.5em;
                }
            }
        }

        .copy {
            max-width: 30rem;
        }
    }

}