section.manifesto {
    background: $blue;
    padding: 4rem 0;
    overflow: hidden;

    @include desktop-small {
        padding: 8rem 0;
    }

    .headline {
        text-align: center;
        padding-bottom: 2rem;

        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }

    .section-title {
        color: $white;
    }

    .copy {
        color: $white;

        @include desktop-small {
            grid-column: 4 / span 8;
        }

        b, strong {
            font-weight: bold;
            color: $bright-gold;
        }
    }

    .ornament-top {
        bottom: -5vh;
        right: -15vw;
        z-index: 25;
        width: 50vw;
        max-width: 40rem;
        
        @include desktop-small {
            right: -30vw;
        }
    }

    .ornament-bottom {
        top: 2vh;
        left: -30vw;
        z-index: 0;
        width: 50vw;
        max-width: 40rem;
        opacity: 0.5;
        
        @include desktop-small {
            top: 2vh;
            left: -5vw;
            opacity: 0.85;
        }
    }

}