section.values {
    padding: 4rem 0;

    @include desktop-small {
        padding: 8rem 0;
    }

    .values-grid {
        display: grid;
        gap: 4rem;
        padding-top: 2rem;

        @include tablet {
            gap: 2rem;
            grid-template-columns: repeat(2, 1fr);
        }

        @include desktop-small {
            gap: 2rem 4rem;
        }
    }

    .value {
        display: grid;
        gap: 1rem;

        @include desktop-small {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }

        .info {
            padding: 0 1rem;

            @include tablet {
                padding: 0;
            }
        }

        .headline {
            padding-bottom: 0.5rem;

            h4 {
                color: $gold;
                font-family: $ogg;
                font-size: clamp(1.125rem, 1.4vw, 1.375rem);
                line-height: 1.25em;
                letter-spacing: 0.02em;
            }
        }
    }

    .credits {
        padding-top: 3rem;

        p {
            color: #b5b5b5;
            font-style: italic;
        }
    }
}
