section.about {
    padding: 4rem 0;

    @include desktop-small {
        padding: 6rem 0 8rem 0;
    }

    .copy-2,
    .cta {
        @include desktop-small {
            grid-column: 3 / span 8;
        }
    }

    .levels {
        display: grid;
        gap: 8rem;

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
            padding-top: 2rem;
        }

        .copy {
            padding-top: 1rem;
            max-width: 30rem;
            text-align: center;

            font-style: italic;
        }
    }


    .copy.bottom {
        padding-top: 4rem;

        @include tablet {
            padding-top: 8rem;
        }
    }

    .cta {
        padding-top: 2rem;
    }
}