section.referrals {
    padding-bottom: 6rem;

    .info {
        background: $light-blue;
        padding: 2rem;
        color: $white;
        border-radius: 3px;
        
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 4 / span 8;
        }

        .headline {
            padding-bottom: 1rem;

            h3 {
                font-weight: 900;
                font-size: clamp(1.25rem, 1.5vw, 1.5rem);
            }
        }

        .copy {
            color: $white;
        }

        .referral-form {
            border-top: 1px solid $white;
            padding-top: 2rem;
            margin-top: 2rem;
            display: none;

            &.active {
                display: block;
            }
        }

        div.wpforms-container-full .wpforms-form .wpforms-required-label {
            color: $white;
        }
    }
}