section.blog {
    background: $off-white;
    padding: 6rem 0;

    @include desktop-small {
        padding: 8rem 0;
    }

    .section-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 3rem;

        @include desktop-small {
            padding-bottom: 5rem;
        }

        .sub-headline {
            width: 100%;
            text-align: center;
            padding-bottom: 1.5rem;

            @include tablet-small {
                padding-bottom: 0.5rem;
            }
        }

        .photo {
            max-width: 6rem;
        }

        .info {
            padding-left: 2rem;
            
            .signature {
                padding-top: 0.75rem;

                @include tablet-small {
                    padding-top: 0;
                }
            }

            .name {
                padding-top: 0.5rem;
                padding-bottom: 0.25rem;
                text-transform: uppercase;
                color: $blue;
                font-weight: bold;
                letter-spacing: 0.05em;
                font-size: clamp(0.875rem, 1.1vw, 1rem);
            }

            .meta {
                color: $light-blue;
                font-size: clamp(0.75rem, 0.9vw, 0.875rem);                    
            }            
        }
    }

    .post-photo {
        grid-column: 1 / -1;
        @include tablet {
            grid-column: 2 / span 6;
        }

        @include desktop-small {
            grid-column: 3 / span 7;
        }

        img {
            position: relative;
            z-index: 10;
        }


        .ornament {
            bottom: -5vh;
            left: -20vw;
            z-index: 0;
            width: 50vw;
            max-width: 40rem;
            
            @include desktop-small {
                bottom: -15vh;
                left: -10vw;
            }
        }
    }

    .post-info {
        padding: 2rem;
        background: $white;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
        z-index: 10;
        margin-top: -3rem;

        @include tablet-small {
            grid-column: 2 / span 8;
            margin-top: -6rem;
        }

        @include tablet {
            grid-column: 4 / span 6;
        }

        @include desktop-small {
            grid-column: 7 / span 6;
            padding: 4rem 3rem;
            margin-top: -10rem;
        }

        .headline {
            padding-top: 0.5rem;

            h2 {
                font-family: $ogg;
                font-size: clamp(1.5rem, 2.75vw, 2.25rem);
                line-height: 1.25em;
            }

            a {
                color: $bright-gold;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .excerpt {
            padding: 1rem 0 2rem 0;
        }

        .cta {
            .btn {
                color: $bright-gold;
            }
        }
    }
}