section.how-we-do-it  {
    background: $off-white;
    padding: 4rem 0;
    z-index: 10;
    margin-top: -4rem;
    margin-bottom: 16vh;

    @include desktop-small {
        margin-top: -8rem;
    }

    &:before {
        display: block;
        content: '';
        width: 100%;
        height: 20vh;
        clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
        background: $off-white;
        position: absolute;
        top: -20vh;
        left: 0;
    }

    &:after {
        display: block;
        content: '';
        width: 100%;
        height: 20vh;
        clip-path: polygon(0 0, 0 50%, 100% 0);
        background: $off-white;
        position: absolute;
        bottom: -20vh;
        left: 0;
    }

    & > * {
        text-align: center;
        
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }

    .headline {
        padding-bottom: 3rem;
    }

    .copy {
        padding: 3rem 0 2rem 0;
        @include desktop-small {
            grid-column: 5 / span 6;
        }

        strong {
            color: $gold;
        }
    }

    .ornament {
        top: -10vh;
        left: -50vw;
        z-index: 25;
        width: 50vw;
        max-width: 60rem;
        
        @include desktop-small {
            top: -16vh;
            left: -44vw;
        }
    }


}