section.what-we-do {
    padding: 4rem 0;
    z-index: 15;

    @include desktop-small {
        padding: 6rem 0 3rem 0;
    }

    .info {
        @include tablet {
            grid-column: 4 / span 5;
        }

        @include desktop-small {
            grid-column: 3 / span 5;
        }

        .copy {
            padding: 2rem 0;

            ul {
                list-style-type: disc;
                padding-left: 1.25rem;
                padding-top: 1rem;
                font-size: clamp(1rem, 1vw, 1.125rem);
            }
        }

        
    }

    .photo {
        padding-top: 3rem;
        max-width: 10rem;
        margin: 0 auto;

        @include tablet {
            grid-column: 4 / span 5;
            max-width: 16rem;
            
        }

        @include desktop-small {
            padding-top: 0;
            grid-column: 8 / span 5;
            max-width: 100%;
        }
    }

}